<div mat-dialog-title>
    Datos del paciente
</div>
<mat-dialog-content>
    <div class="row">
        <div class="col-md-6">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Datos el paciente</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Paciente</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Edad</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-5">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Fecha nacimiento</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field style="width: 100%;" appearance="outline">
                                <mat-label>VIP</mat-label>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Síntomas</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Descanso Médico N°</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Tipo de atención</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field style="width: 100%;" appearance="outline">
                                <mat-label>Médico atiende</mat-label>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Datos del pago</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field style="width: 100%;" appearance="outline">
                                <mat-label>Moneda</mat-label>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Deducible</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Coaseguro (%)</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Doc. pago</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-8">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Num. Doc. Pago</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field style="width: 100%;" appearance="outline">
                                <mat-label>Moneda</mat-label>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-8">
                            <mat-form-field style="width: 100%;" appearance="outline">
                                <mat-label>Denominación</mat-label>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-6">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Datos médicos</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Especialidad</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Programación</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Médico</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-md-7">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Fecha Atención</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-5">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Hora Atención</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Datos de domicilio</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Departamento</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Provincia</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Dirección</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Mz. / Nro. / Lote</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Dpto. / Int.</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Urbanización</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <textarea matInput placeholder="Referencia..." style="resize: none"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Telf. casa</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-md-8">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Telf. oficina</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Anexo</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Celular</mat-label>
                        <input matInput>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button color="accent">Comprobar laboratorios</button>
</mat-dialog-actions>