<mat-progress-bar mode="query" *ngIf="showSpinner === true"></mat-progress-bar>
<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <!--FILTERS-->
        <div class="row" [formGroup]="formularioFiltroReporteSctr">
            <div class="col-11">
                <div class="row">
                    <div class="col-3">
                        <mat-label class="m-b-8 d-block">Desde</mat-label>
                        <mat-form-field appearance="outline" class="w-100 dense-2">
                            <input matInput placeholder="Seleccionar fecha" [matDatepicker]="txtStartDateFilter"
                                formControlName="txtStartDateFilter" />
                            <mat-datepicker-toggle matIconSuffix [for]="txtStartDateFilter"></mat-datepicker-toggle>
                            <mat-datepicker #txtStartDateFilter></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-label class="m-b-8 d-block">Hasta</mat-label>
                        <mat-form-field appearance="outline" class="w-100 dense-2">
                            <input matInput placeholder="Seleccionar fecha" [matDatepicker]="txtEndDateFilter"
                                formControlName="txtEndDateFilter" />
                            <mat-datepicker-toggle matIconSuffix [for]="txtEndDateFilter"></mat-datepicker-toggle>
                            <mat-datepicker #txtEndDateFilter></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-label class="m-b-8 d-block">Reporte</mat-label>
                        <mat-form-field appearance="outline" class="dense-3 w-100">
                            <mat-select formControlName="cboReporte" appearance="outline" class="dense-2">
                                <mat-option [value]="1">REPORTE DE SCTR</mat-option>
                                <mat-option [value]="2">REPORTE DE OTRAS LLAMADAS</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-3 mx-auto m-t-30">
                        <div class="d-grid gap-2">
                            <button (click)="filterReporteSctr()" mat-flat-button color="primary"
                                class="btn btn-success btn-sm m-right-10">
                                Filtrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--BUTTONS HEADER-->
        <div class="row">
            <div class="col-12 d-flex align-items-center">
                <button mat-flat-button color="primary" (click)="openVerDatosDialog()"
                    [disabled]="countRows === 0 || idRow == 0" class="btn btn-success btn-sm m-right-10">
                    Ver datos
                </button>
                <button mat-flat-button color="primary" (click)="openSeguimientoDialog()"
                    [disabled]="countRows === 0 || idRow == 0" class="btn btn-success btn-sm m-right-10 m-l-8">
                    Segumiento
                </button>
                <button mat-flat-button color="primary" (click)="openSoporteDialog()"
                    [disabled]="countRows === 0 || idRow == 0" class="btn btn-success btn-sm m-right-10 m-l-8">
                    Soporte
                </button>
                <button mat-flat-button color="primary" [disabled]="countRows === 0" (click)="exportExcel()"
                    class="btn btn-success btn-sm m-right-10 m-l-8">
                    Exportar
                </button>
                <button mat-flat-button color="primary" (click)="openTipoServicioDialog()"
                    class="btn btn-success btn-sm m-right-10 m-l-8">
                    Nuevo servicio
                </button>
            </div>
        </div>

        <!--DATA TABLE-->
        <div class="row m-t-20 form-group">
            <div class="col-12">
                <div class="table cardWithShadow">
                    <div class="table-container table scrollwrapper">
                        <table mat-table #table class="tbl_sctr dense-3" [dataSource]="dataSource" matSort
                            (matSortChange)="announceSortChange($event)">
                            <!--CABECERAS-->
                            <ng-container matColumnDef="cod_historia_clinica">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por cod_historia_clinica">
                                    COD_ATENCION
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{row.cod_historia_clinica}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="tipo_historia_clinica" *ngIf="reporte === 1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por tipo_historia_clinica">
                                    TIPO_ATENCION
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.tipo_historia_clinica}} </td>
                            </ng-container>

                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por estado">
                                    ESTADO
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
                            </ng-container>

                            <ng-container matColumnDef="fecha_creacion">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por fecha_creacion">
                                    FECHA_CREACIÓN
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.fecha_creacion}} </td>
                            </ng-container>

                            <ng-container matColumnDef="hora_creacion">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por hora_creacion">
                                    HORA_CREACIÓN
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.hora_creacion}} </td>
                            </ng-container>

                            <ng-container matColumnDef="documento_identidad" *ngIf="reporte === 1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por documento_identidad">
                                    DOC_IDENTIDAD
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.documento_identidad}} </td>
                            </ng-container>

                            <ng-container matColumnDef="numero" *ngIf="reporte === 1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por numero">
                                    NUM_DOC_IDENTIDAD
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.numero}} </td>
                            </ng-container>

                            <ng-container matColumnDef="paciente" *ngIf="reporte === 1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por paciente">
                                    PACIENTE
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.paciente}} </td>
                            </ng-container>

                            <ng-container matColumnDef="fecha_nacimiento" *ngIf="reporte === 1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por fecha_nacimiento">
                                    FECHA_NACIMIENTO
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.fecha_nacimiento}} </td>
                            </ng-container>

                            <ng-container matColumnDef="procedencia" *ngIf="reporte === 2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por procedencia">
                                    PROCEDENCIA
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.procedencia}} </td>
                            </ng-container>

                            <ng-container matColumnDef="clinica">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por clinica">
                                    CLÍNICA
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.clinica}} </td>
                            </ng-container>

                            <ng-container matColumnDef="departamento">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por departamento">
                                    DEPARTAMENTO
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.departamento}} </td>
                            </ng-container>

                            <ng-container matColumnDef="provincia">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por provincia">
                                    PROVINCIA
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.provincia}} </td>
                            </ng-container>

                            <ng-container matColumnDef="distrito">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por distrito">
                                    DISTRITO
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.distrito}} </td>
                            </ng-container>

                            <ng-container matColumnDef="persona_reporta" *ngIf="reporte === 2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por persona_reporta">
                                    PERSONA_REPORTA
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.persona_reporta}} </td>
                            </ng-container>

                            <ng-container matColumnDef="motivo_de_llamada" *ngIf="reporte === 2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por motivo_de_llamada">
                                    MOTIVO_DE_LLAMADA
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.motivo_de_llamada}} </td>
                            </ng-container>

                            <ng-container matColumnDef="empresa" *ngIf="reporte === 1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por empresa">
                                    EMPRESA
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.empresa}} </td>
                            </ng-container>

                            <ng-container matColumnDef="empresa_ruc" *ngIf="reporte === 1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por empresa_ruc">
                                    RUC_EMPRESA
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.empresa_ruc}} </td>
                            </ng-container>

                            <ng-container matColumnDef="hoja_atencion" *ngIf="reporte === 1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por hoja_atencion">
                                    HOJA_ATENCIÓN
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.hoja_atencion}} </td>
                            </ng-container>

                            <ng-container matColumnDef="medio_validacion" *ngIf="reporte === 1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por medio_validacion">
                                    MEDIO_VALIDACION
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.medio_validacion}} </td>
                            </ng-container>

                            <ng-container matColumnDef="plan" *ngIf="reporte === 1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por plan">
                                    PLAN
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.plan}} </td>
                            </ng-container>

                            <ng-container matColumnDef="pase_atencion" *ngIf="reporte === 1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por pase_atencion">
                                    PASE_ATENCIÓN
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.pase_atencion}} </td>
                            </ng-container>

                            <ng-container matColumnDef="motivo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por motivo">
                                    MOTIVO
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.motivo}} </td>
                            </ng-container>

                            <ng-container matColumnDef="observacion" *ngIf="reporte === 1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por observacion">
                                    OBSERVACIÓN
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.observacion}} </td>
                            </ng-container>

                            <ng-container matColumnDef="usuario_creacion">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por usuario_creacion">
                                    USUARIO_CREACIÓN
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.usuario_creacion}} </td>
                            </ng-container>

                            <ng-container matColumnDef="skill">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Ordenar por skill">
                                    SKILL
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.skill}} </td>
                            </ng-container>

                            <!--CAJAS DE BUSQUEDA-->
                            <form class="row" [formGroup]="formularioFiltroAtenciones" style="margin-bottom: 10px;">
                                <ng-container matColumnDef="CodigoAtencion-search">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2" style="width: 75px">
                                            <input matInput (keyup)="filtrarAtencion($event,'CodigoAtencion')"
                                                formControlName="txtCodigoAtencion">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="TipoAtencion-search" *ngIf="reporte === 1">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2"
                                            style="width: 110px">
                                            <input matInput (keyup)="filtrarAtencion($event,'TipoAtencion')"
                                                formControlName="txtTipoAtencion">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="Estado-search">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2" style="width: 75px">
                                            <input matInput (keyup)="filtrarAtencion($event,'Estado')"
                                                formControlName="txtEstado">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="FechaCreacion-search">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2" style="width: 90px">
                                            <input matInput (keyup)="filtrarAtencion($event,'FechaCreacion')"
                                                formControlName="txtFechaCreacion">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="HoraCreacion-search">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2" style="width: 80px">
                                            <input matInput (keyup)="filtrarAtencion($event,'HoraCreacion')"
                                                formControlName="txtHoraCreacion">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="DocumentoIdentidad-search" *ngIf="reporte === 1">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2" style="width: 75px">
                                            <input matInput (keyup)="filtrarAtencion($event,'DocumentoIdentidad')"
                                                formControlName="txtDocumentoIdentidad">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="NumeroDocumento-search" *ngIf="reporte === 1">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2"
                                            style="width: 100px">
                                            <input matInput (keyup)="filtrarAtencion($event,'NumeroDocumento')"
                                                formControlName="txtNumeroDocumento">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="Paciente-search" *ngIf="reporte === 1">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2">
                                            <input matInput (keyup)="filtrarAtencion($event,'Paciente')"
                                                formControlName="txtPaciente">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="FechaNacimiento-search" *ngIf="reporte === 1">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2" style="width: 90px">
                                            <input matInput (keyup)="filtrarAtencion($event,'FechaNacimiento')"
                                                formControlName="txtFechaNacimiento">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="Procedencia-search" *ngIf="reporte === 2">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2" style="width: 90px">
                                            <input matInput (keyup)="filtrarAtencion($event,'Procedencia')"
                                                formControlName="txtProcedencia">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="Clinica-search">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2">
                                            <input matInput (keyup)="filtrarAtencion($event,'Clinica')"
                                                formControlName="txtClinica">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="Departamento-search">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2"
                                            style="width: 105px;">
                                            <input matInput (keyup)="filtrarAtencion($event,'Departamento')"
                                                formControlName="txtDepartamento">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="Provincia-search">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2"
                                            style="width: 105px;">
                                            <input matInput (keyup)="filtrarAtencion($event,'Provincia')"
                                                formControlName="txtProvincia">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="Distrito-search">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2"
                                            style="width: 105px;">
                                            <input matInput (keyup)="filtrarAtencion($event,'Distrito')"
                                                formControlName="txtDistrito">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="Reporta-search" *ngIf="reporte === 2">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2">
                                            <input matInput (keyup)="filtrarAtencion($event,'Reporta')"
                                                formControlName="txtReporta">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="MotivoLlamada-search" *ngIf="reporte === 2">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2">
                                            <input matInput (keyup)="filtrarAtencion($event,'MotivoLlamada')"
                                                formControlName="txtMotivoLlamada">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="Empresa-search" *ngIf="reporte === 1">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2">
                                            <input matInput (keyup)="filtrarAtencion($event,'Empresa')"
                                                formControlName="txtEmpresa">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="EmpresaRuc-search" *ngIf="reporte === 1">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2" style="width: 75px">
                                            <input matInput (keyup)="filtrarAtencion($event,'EmpresaRuc')"
                                                formControlName="txtEmpresaRuc">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="HojaAtencion-search" *ngIf="reporte === 1">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2"
                                            style="width: 105px;">
                                            <input matInput (keyup)="filtrarAtencion($event,'HojaAtencion')"
                                                formControlName="txtHojaAtencion">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="MedioValidacion-search" *ngIf="reporte === 1">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2"
                                            style="width: 150px;">
                                            <input matInput (keyup)="filtrarAtencion($event,'MedioValidacion')"
                                                formControlName="txtMedioValidacion">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="Plan-search" *ngIf="reporte === 1">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2"
                                            style="width: 120px">
                                            <input matInput (keyup)="filtrarAtencion($event,'Plan')"
                                                formControlName="txtPlan">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="PaseAtencion-search" *ngIf="reporte === 1">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2"
                                            style="width: 105px;">
                                            <input matInput (keyup)="filtrarAtencion($event,'PaseAtencion')"
                                                formControlName="txtPaseAtencion">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="Motivo-search">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2"
                                            style="width: 180px">
                                            <input matInput (keyup)="filtrarAtencion($event,'Motivo')"
                                                formControlName="txtMotivo">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="Observacion-search" *ngIf="reporte === 1">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2"
                                            style="width: 600px;">
                                            <input matInput (keyup)="filtrarAtencion($event,'Observacion')"
                                                formControlName="txtObservacion">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="UsuarioCreacion-search">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2" style="width: 75px">
                                            <input matInput (keyup)="filtrarAtencion($event,'UsuarioCreacion')"
                                                formControlName="txtUsuarioCreacion">
                                        </mat-form-field>
                                    </th>
                                </ng-container>

                                <ng-container matColumnDef="Skill-search">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field appearance="outline" class="m-t-10 dense-2"
                                            style="width: 100px">
                                            <input matInput (keyup)="filtrarAtencion($event,'Skill')"
                                                formControlName="txtSkill">
                                        </mat-form-field>
                                    </th>
                                </ng-container>
                            </form>

                            <!--DATOS-->
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-header-row *matHeaderRowDef="headerColumns;sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns; let index = index"
                                [class.row_selected]="index == positionRow" (click)="getRowSelected(row,index)"
                                (dblclick)="openVerDatosDialog()"></tr>
                        </table>
                        <ng-container *ngIf="countRows === 0">
                            <div class="row">
                                <div class="col-sm-12 ml-4 mt-3">
                                    <label class="font-weight-bold"> {{'No existen datos'}}</label>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons
                        aria-label="Seleccione página de registros">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>