<div mat-dialog-title>
    Seleccione el soporte
</div>
<mat-dialog-content>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
        <mat-radio-button class="example-radio-button" [value]="1">Modificar datos</mat-radio-button>
        <br>
        <mat-radio-button class="example-radio-button" [value]="2">Anular atención</mat-radio-button>
        <br>
        <mat-radio-button class="example-radio-button" [value]="3">Mantenimiento clínica</mat-radio-button>
    </mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button color="accent" style="width: 100%;">Aceptar</button>
</mat-dialog-actions>