<div mat-dialog-title>
    Tipo de servicio
</div>
<mat-dialog-content>
    <div>
        <label id="example-radio-group-label">SKILL AVAYA</label>
    </div>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
        <mat-radio-button [value]="1" (change)="getSkill($event)" class="example-radio-button">SKILL
            SCTR</mat-radio-button>
        <mat-radio-button [value]="2" (change)="getSkill($event)" class="example-radio-button">SKILL CONSULTAS
            COBERTURAS</mat-radio-button>
    </mat-radio-group>
    <mat-form-field style="width: 100%; margin-top: 10px;" appearance="outline">
        <mat-label>Motivo</mat-label>
        <mat-select (selectionChange)="getMotivoCbo($event)">
            <mat-option [value]="0">--Seleccione una opción--</mat-option>
            <mat-option [value]="motivo.id_motivo" *ngFor="let motivo of motivos">{{motivo.descripcion}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="row">
        <div class="col-md-6 text-center">
            <button mat-flat-button color="warn" (click)="exitTipoServicio()" style="width: 100%;">Salir</button>
        </div>
        <div class="col-md-6 text-center">
            <button mat-flat-button color="accent" (click)="nuevoServicioSctr()" style="width: 100%;">Continuar</button>
        </div>
    </div>
</mat-dialog-content>