<div mat-dialog-title>
    Tipo de servicio
</div>
<mat-dialog-content>
    <label id="example-radio-group-label">SKILL AVAYA</label>
    <br>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
        <mat-radio-button class="example-radio-button">SKILL SCTR</mat-radio-button>
        <mat-radio-button class="example-radio-button">SKILL CONSULTAS COBERTURAS</mat-radio-button>
    </mat-radio-group>
    <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Motivo</mat-label>
        <mat-select>
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>