<div mat-dialog-title>
    Nuevo Paciente
</div>
<mat-dialog-content>       
    <form [formGroup]="FormularioNuevoPaciente">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="example-full-width dense-2" style="width: 100%;" appearance="outline">
                    <mat-label>Nombres Paciente</mat-label>
                    <input matInput formControlName="txtNombres">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width dense-2" style="width: 100%;" appearance="outline">
                    <mat-label>Apellido Paterno</mat-label>
                    <input matInput formControlName="txtPaterno">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width dense-2" style="width: 100%;" appearance="outline">
                    <mat-label>Apellido Materno</mat-label>
                    <input matInput formControlName="txtMaterno">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <!--FECHA NACIMIENTO-->
            <div class="col-md-6">
                <mat-form-field appearance="outline" style="width: 100%;" class="dense-2">
                    <mat-label>Fecha Nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName = "txtFechaNacimiento" aria-placeholder="Fecha Nacimiento">
                    <mat-hint></mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <!--EDAD-->
            <div class="col-md-3">
                <mat-form-field class="example-full-width dense-2" style="width: 100%;" appearance="outline">
                    <mat-label>Edad</mat-label>
                    <input matInput formControlName="txtEdad">
                </mat-form-field>
            </div>
            <!--GENERO-->
            <div class="col-md-3">
                <mat-form-field style="width: 100%;" appearance="outline" class="dense-2">
                    <mat-label>Genero</mat-label>
                    <mat-select formControlName="cboGenero" [value]="valGenero"
                        (selectionChange)="getGenero($event)">
                        <mat-option [value]="0">--Seleccione una opcion--</mat-option>
                        <mat-option [value]="genero.id"
                            *ngFor="let genero of generos">{{genero.descripcion}}</mat-option>
                    </mat-select>
                </mat-form-field>    
            </div>
        </div>
        <div class="row">
            <!--PAIS-->
            <div class="col-md-4">
                <mat-form-field style="width: 100%;" appearance="outline" class="dense-2">
                    <mat-label>Pais</mat-label>
                    <mat-select formControlName="cboPais" [value]="valPais"
                        (selectionChange)="getPais($event)">
                        <mat-option [value]="0">--Seleccione una opcion--</mat-option>
                        <mat-option [value]="pais.id_pais"
                            *ngFor="let pais of paises">{{pais.nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!--TIPO DOCUMENTO-->
            <div class="col-md-4">
                <mat-form-field style="width: 100%;" appearance="outline" class="dense-2">
                    <mat-label>Tipo Documento</mat-label>
                    <mat-select formControlName="cboTipoDocumento" [value]="valTipoDocumento"
                        (selectionChange)="getTipoDocumento($event)">
                        <mat-option [value]="0">--Seleccione una opcion--</mat-option>
                        <mat-option [value]="tipoDocumento.id"
                            *ngFor="let tipoDocumento of tipoDocumentos">{{tipoDocumento.descripcion}}</mat-option>
                    </mat-select>
                </mat-form-field>    
            </div>
            <!--NUMERO DOCUMENTO-->
            <div class="col-md-4">
                <mat-form-field class="example-full-width dense-2" style="width: 100%;" appearance="outline">
                    <mat-label>Numero</mat-label>
                    <input matInput formControlName="txtNumero">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-24">
                &nbsp;
                &nbsp;
                &nbsp;
                <mat-form-field class="example-full-width dense-2" style="width: 220px;" appearance="outline">
                    <mat-label>Departamento</mat-label>
                    <input matInput formControlName="txtDepartamento">
                </mat-form-field>
                &nbsp;
                &nbsp;
                <mat-form-field class="example-full-width dense-2" style="width: 220px;" appearance="outline">
                    <mat-label>Provincia</mat-label>
                    <input matInput formControlName="txtProvincia">
                </mat-form-field>
                &nbsp;
                &nbsp;
                &nbsp;
                <mat-form-field class="example-full-width dense-2" style="width: 220px;" appearance="outline">
                    <mat-label>Distrito</mat-label>
                    <input matInput formControlName="txtDistrito">
                </mat-form-field>
                &nbsp;
                &nbsp;
                <button mat-flat-button color="accent" style="width: 5px;" (click)="openUbigeoDialog()">
                    ...
                </button>
            </div>
        </div>    
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="example-full-width dense-2" style="width: 100%;" appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <input matInput formControlName="txtDireccion">
                </mat-form-field>
            </div>
        </div>   
        <div class="row">
            <div class="col-md-4">
                <mat-form-field class="example-full-width dense-2" style="width: 100%;" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="txtEmail">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width dense-2" style="width: 100%;" appearance="outline">
                    <mat-label>Telefono Celular</mat-label>
                    <input matInput formControlName="txtTelefonoCelular">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width dense-2" style="width: 100%;" appearance="outline">
                    <mat-label>Telefono Casa</mat-label>
                    <input matInput formControlName="txtTelefonoCasa">
                </mat-form-field>
            </div>
        </div>            
    
    </form>
    
    &nbsp;
    &nbsp;
    <div class="row">
        <div class="col-md-6">
            <button mat-flat-button color="warn" style="width: 100%;" (click)="exitSalirPaciente()">
                Salir
            </button>
            <div style="padding: 3px 0;"></div>
        </div>
    
        <div class="col-md-6">
            <button mat-flat-button color="accent" style="width: 100%;" (click)="savePaciente()">
                Guardar
            </button>
            <div style="padding: 3px 0;"></div>
        </div>    
    </div>
</mat-dialog-content>