<div [ngClass]=" {
    orange_theme: options.activeTheme == 'orange_theme',
    blue_theme: options.activeTheme == 'blue_theme',
    aqua_theme: options.activeTheme == 'aqua_theme',
    purple_theme: options.activeTheme == 'purple_theme',
    green_theme: options.activeTheme == 'green_theme',
    cyan_theme: options.activeTheme == 'cyan_theme',
    sanna_theme: options.activeTheme == 'sanna_theme',
}">
    <mat-card class="theme-card" style="margin-bottom: 0;">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>
                    SITEDS
                </mat-card-title>
            </mat-card-title-group>
            <div fxFlex></div>
            <div fxLayoutAlign="center center">
                <a class="btn-close" [mat-dialog-close]="true"><mat-icon class="close-icon">close</mat-icon></a>
            </div>
        </mat-card-header>
        <mat-progress-bar mode="query" *ngIf="showSpinner === true"></mat-progress-bar>
    </mat-card>
    <mat-dialog-content>
        <mat-tab-group [selectedIndex]="tabActivo">
            <mat-tab label="Búsqueda de asegurado">
                <div class="container">
                    <div class="row" style="margin-top: 10px;">
                        <mat-card class="example-card" style="width: 100%">
                            <mat-card-content>
                                <form class="row" [formGroup]="formCliente">
                                    <div class="col-md-2">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>00023920</mat-label>
                                            <input matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-5">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>SANNA DOCTOR + SAC</mat-label>
                                            <input matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-5">
                                        <mat-form-field style="width: 100%;" appearance="outline" class="dense-2">
                                            <mat-label>Aseguradora</mat-label>
                                            <mat-select formControlName="CBOAseguradora" [value]="valCliente"
                                                (selectionChange)="getClienteSiteds($event)"
                                                (optionSelected)="selectCliente($event)">
                                                <mat-option [value]="0">--Seleccione una opcion--</mat-option>
                                                <mat-option [value]="cliente.id_financiamiento"
                                                    *ngFor="let cliente of clientes">{{cliente.nombre}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </form>
                                <form class="row" [formGroup]="formBuscarPorDatosCompletos">
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Apellido paterno</mat-label>
                                            <input matInput formControlName="txtApellidoPaterno">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Apellido materno</mat-label>
                                            <input matInput formControlName="txtApellidoMaterno">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Nombres</mat-label>
                                            <input matInput formControlName="txtNombres">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <button (click)="getByDatosPaciente()" mat-flat-button color="accent"
                                            style="width: 100%;" [disabled]="statusBtnBuscarPaciente">Buscar
                                            paciente</button>
                                    </div>
                                </form>
                                <form [formGroup]="formBuscarPorDocumentoIdentidad" class="row">
                                    <div class="col-md-3">
                                        <mat-form-field style="width: 100%;" appearance="outline" class="dense-2">
                                            <mat-label>Tipo Doc.</mat-label>
                                            <mat-select formControlName="cboTipoDocumento" [value]="valTipoDocumento"
                                                (selectionChange)="getTipoDocumento($event)">
                                                <mat-option [value]="0">--Seleccione una opcion--</mat-option>
                                                <mat-option [value]="tipoDocumento.id"
                                                    *ngFor="let tipoDocumento of tipoDocumentos">{{tipoDocumento.descripcion}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Número Documento</mat-label>
                                            <input matInput formControlName="txtNroDocumento">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <button (click)="getByDocIdent()" mat-flat-button color="accent"
                                            style="width: 100%;" [disabled]="statusBtnDocIdentidad">Buscar Doc.
                                            Identidad</button>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="cardWithShadow">
                                        <div class="table-container table scrollwrapper">
                                            <table mat-table #table class="tbl_sctr dense-3"
                                                [dataSource]="dataSourceAsegurados" matSort
                                                (matSortChange)="announceSortChange($event)">

                                                <ng-container matColumnDef="desProducto">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        sortActionDescription="Ordenar por desProducto">
                                                        Producto
                                                    </th>
                                                    <td mat-cell *matCellDef="let row">
                                                        {{row.desProducto}}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="apellidoPaternoAfiliado">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        sortActionDescription="Sort by apellidoPaternoAfiliado">
                                                        Apellido Paterno
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.apellidoPaternoAfiliado}}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="apellidoMaternoAfiliado">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        sortActionDescription="Sort by apellidoMaternoAfiliado">
                                                        Apellido Materno
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.apellidoMaternoAfiliado}}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="nombresAfiliado">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        sortActionDescription="Sort by nombresAfiliado">
                                                        Nombres
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.nombresAfiliado}} </td>
                                                </ng-container>

                                                <ng-container matColumnDef="desParentesco">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        sortActionDescription="Sort by desParentesco">
                                                        Parentesco
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.desParentesco}} </td>
                                                </ng-container>

                                                <ng-container matColumnDef="nombreContratante">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        sortActionDescription="Sort by nombreContratante">
                                                        Contratante
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.nombreContratante}} </td>
                                                </ng-container>

                                                <ng-container matColumnDef="desEstado">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        sortActionDescription="Sort by desEstado">
                                                        Estado
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.desEstado}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="codigoAfiliado">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        sortActionDescription="Sort by codigoAfiliado">
                                                        Cod. Afiliado
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.codigoAfiliado}} </td>
                                                </ng-container>

                                                <ng-container matColumnDef="fechaNacimiento">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        sortActionDescription="Sort by fechaNacimiento">
                                                        Fecha Nacimiento
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.fechaNacimiento}} </td>
                                                </ng-container>

                                                <ng-container matColumnDef="desGenero">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        sortActionDescription="Sort by desGenero">
                                                        DesGenero
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.desGenero}} </td>
                                                </ng-container>

                                                <ng-container matColumnDef="desTipoDocumentoAfiliado">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        sortActionDescription="Sort by desTipoDocumentoAfiliado">
                                                        Tipo Documento
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.desTipoDocumentoAfiliado}}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="numeroDocumentoAfiliado">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        sortActionDescription="Sort by numeroDocumentoAfiliado">
                                                        Num. Documento
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.numeroDocumentoAfiliado}}
                                                    </td>
                                                </ng-container>
                                                <tr mat-header-row *matHeaderRowDef="displayedColumnsAsegurados"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumnsAsegurados"
                                                    (dblclick)="getRowSelectedAsegurado(row)"></tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label style="font-weight:bold;">{{vBusquedaInicial}}</label>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="row">
                        <div class="col-md-24 text-right">
                            <button mat-flat-button color="warn" style="width: 100%;" (click)="exitSalirSiteds()">CERRAR
                                VENTANA</button>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Datos del asegurado" [disabled]="tabDatosAsegurado">
                <div class="container">
                    <mat-progress-bar mode="query" *ngIf="showSpinner === true"></mat-progress-bar>
                    <!----------------------------------------------------------------------------------------------------------------------------------------------->
                    <!-----------------------------------------------------------INICIO PARA REGISTRAR EL SITEDS----------------------------------------------------->
                    <!----------------------------------------------------------------------------------------------------------------------------------------------->
                    <form class="row" style="margin-top: 10px;" [formGroup]="formDatosCompletosAsegurado">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <mat-card-title style="margin-bottom: 10px;">Información general</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>N° Autorización</mat-label>
                                            <input matInput formControlName="txtNroAutorizacion">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Código de asegurado</mat-label>
                                            <input matInput formControlName="txtCodAsegurado">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Poliza/contrato</mat-label>
                                            <input matInput formControlName="txtPoliza">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Certificado</mat-label>
                                            <input matInput formControlName="txtCertificado">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Producto</mat-label>
                                            <input matInput formControlName="txtProducto">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                        <mat-card class="example-card">
                            <mat-card-header>
                                <mat-card-title style="margin-bottom: 10px;">Datos del paciente</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Apellidos y nombres</mat-label>
                                            <input matInput formControlName="txtApellidosNombresPaciente">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Género</mat-label>
                                            <input matInput formControlName="txtGeneroPaciente">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Fecha de nacimiento</mat-label>
                                            <input matInput formControlName="txtFechaNacimientoPaciente">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Parentesco</mat-label>
                                            <input matInput formControlName="txtParentescoPaciente">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Tipo documento</mat-label>
                                            <input matInput formControlName="txtTipoDocPaciente">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Número de documento</mat-label>
                                            <input matInput formControlName="txtNroDocumentoPaciente">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Edad</mat-label>
                                            <input matInput formControlName="txtEdadPaciente">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Inicio de vigencia</mat-label>
                                            <input matInput formControlName="txtInicioVigencia">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Fin de vigencia</mat-label>
                                            <input matInput formControlName="txtFinVigencia">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Estado civil</mat-label>
                                            <input matInput formControlName="txtEstadoCivil">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Tipo plan de salud</mat-label>
                                            <input matInput formControlName="txtTipoPlanSalud">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>N° de plan</mat-label>
                                            <input matInput formControlName="txtNroPlan">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Estado</mat-label>
                                            <input matInput formControlName="txtEstadoPlan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                        <mat-card class="example-card">
                            <mat-card-header>
                                <mat-card-title style="margin-bottom: 10px;">Datos del paciente según registro de
                                    afiliados</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-4">
                                        <button mat-flat-button color="accent" style="width: 100%;">Datos
                                            adicionales</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button mat-flat-button color="accent" style="width: 100%;">Condiciones
                                            médicas</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button [disabled]="statusBtnObservaciones" mat-flat-button color="accent"
                                            style="width: 100%;">Observaciones</button>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                        <mat-card class="example-card">
                            <mat-card-header>
                                <mat-card-title style="margin-bottom: 10px;">Datos del titular</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-8">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Apellidos y nombres</mat-label>
                                            <input matInput formControlName="txtApellidosNombresTitular">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Código titular</mat-label>
                                            <input matInput formControlName="txtCodTitular">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Tipo de documento</mat-label>
                                            <input matInput formControlName="txtTipoDocTitular">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>N° de documento</mat-label>
                                            <input matInput formControlName="txtNumDocumentoTitular">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Moneda</mat-label>
                                            <input matInput formControlName="txtMoneda">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-8">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Nombre de contratante</mat-label>
                                            <input matInput formControlName="txtNombreContratante">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Tipo doc. contratante</mat-label>
                                            <input matInput formControlName="txtTipoDocContratante">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Tipo de afiliación</mat-label>
                                            <input matInput formControlName="txtTipoAfiliacion">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>Fecha de afiliación</mat-label>
                                            <input matInput formControlName="txtFechaAfiliacion">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                            appearance="outline">
                                            <mat-label>N° documento contratante</mat-label>
                                            <input matInput formControlName="txtNroDocContratante">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                        <mat-card class="example-card" style="width: 100%;">
                            <mat-card-header>
                                <mat-card-title style="margin-bottom: 10px;">Listado de beneficios</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row" style="margin-bottom: 20px;">
                                    <div class="cardWithShadow" style="width: 100%;">
                                        <div class="table-container table scrollwrapper">
                                            <table mat-table #table class="tbl_sctr dense-3"
                                                [dataSource]="dataSourceBeneficios" matSort
                                                (matSortChange)="announceSortChange($event)">
                                                <ng-container matColumnDef="codigoCobertura">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        sortActionDescription="Sort by codigoCobertura">
                                                        Código
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.codigoCobertura}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="beneficios">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        sortActionDescription="Sort by beneficios">
                                                        Beneficios
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.beneficios}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="restricciones">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        sortActionDescription="Sort by restricciones">
                                                        Restricciones
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.restricciones}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="desCopagoFijo">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        sortActionDescription="Sort by desCopagoFijo">
                                                        Copago Fijo
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.desCopagoFijo}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="desCopagoVariable">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        sortActionDescription="Sort by desCopagoVariable">
                                                        Copago Variable
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.desCopagoVariable}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="fechaFinCarencia">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        sortActionDescription="Sort by fechaFinCarencia">
                                                        Fecha Fin Carencia
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.fechaFinCarencia}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="condicionesEspeciales">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        sortActionDescription="Sort by condicionesEspeciales">
                                                        Condiciones Especiales
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.condicionesEspeciales}}
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="observaciones">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                        sortActionDescription="Sort by observaciones">
                                                        Observaciones
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.observaciones}} </td>
                                                </ng-container>
                                                <tr mat-header-row *matHeaderRowDef="displayedColumnsBeneficios"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumnsBeneficios;"
                                                    (click)="getRowSelectedBeneficio(row)"></tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label style="font-weight:bold;">{{vResultadoBusqueda}}</label>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </form>
                    <div class="row">
                        <div class="col-md-3">
                            <button mat-flat-button color="primary" style="width: 100%;"
                                [disabled]="statusBtnGenerarAutorizacion" (click)="generarAutorizacion()">Generar
                                autorización</button>
                        </div>
                        <div class="col-md-3">
                            <button mat-flat-button color="primary" style="width: 100%;"
                                [disabled]="statusBtnVerDocAutorizacion" (click)="verDocumentoAutorizacion()">Ver
                                documento</button>
                        </div>
                        <div class="col-md-3">
                            <button mat-flat-button color="primary" style="width: 100%;"
                                [disabled]="statusBtnContinuarAtencion" (click)="saveSiteds()">Continuar
                                atención</button>
                        </div>
                        <div class="col-md-3">
                            <button mat-flat-button color="warn" style="width: 100%;"
                                (click)="exitRegistrarSiteds()">Continuar atención
                                sin SITEDS</button>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------------------------------------------------------------->
                    <!-------------------------------------------------------------FIN PARA REGISTRAR EL SITEDS------------------------------------------------------>
                    <!----------------------------------------------------------------------------------------------------------------------------------------------->
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
</div>