<div [ngClass]=" {
    orange_theme: options.activeTheme == 'orange_theme',
    blue_theme: options.activeTheme == 'blue_theme',
    aqua_theme: options.activeTheme == 'aqua_theme',
    purple_theme: options.activeTheme == 'purple_theme',
    green_theme: options.activeTheme == 'green_theme',
    cyan_theme: options.activeTheme == 'cyan_theme',
    sanna_theme: options.activeTheme == 'sanna_theme',
}">
    <mat-card class="theme-card" style="margin-bottom: 0;">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>
                    Seguimiento de servicios
                </mat-card-title>
            </mat-card-title-group>
            <div fxFlex></div>
            <div fxLayoutAlign="center center">
                <a class="btn-close" [mat-dialog-close]="true"><mat-icon class="close-icon">close</mat-icon></a>
            </div>
        </mat-card-header>
    </mat-card>
    <mat-dialog-content>
        <form [formGroup]="frmSeguimientoSctr" class="row">
            <div class="col-md-10">
                <mat-form-field class="example-full-width dense-2" style="width: 100%;" appearance="outline">
                    <mat-label>Código</mat-label>
                    <input matInput formControlName="txtCodigo">
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <button mat-flat-button color="primary" style="width: 100%;"
                    (click)="searchSeguimiento()">Buscar</button>
            </div>
            <div class="col-md-10">
                <mat-form-field class="example-full-width dense-2" style="width: 100%;" appearance="outline">
                    <textarea matInput placeholder="Descripción..." style="resize: none"
                        formControlName="txtObservacion"></textarea>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <button mat-flat-button color="primary" style="width: 100%;"
                    (click)="saveSeguimiento()">Guardar</button>
            </div>
        </form>
        <div class="row m-t-20">
            <div class="col-12">
                <div class="cardWithShadow">
                    <div class="table-container table scrollwrapper" #TABLE>
                        <table mat-table #table [dataSource]="dataSource" matSort
                            (matSortChange)="announceSortChange($event)">

                            <ng-container matColumnDef="cod_historia_clinica">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by cod_historia_clinica">
                                    Cod. Atención
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.cod_historia_clinica}} </td>
                            </ng-container>

                            <ng-container matColumnDef="servicio">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by servicio">
                                    Servicio
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.servicio}} </td>
                            </ng-container>

                            <ng-container matColumnDef="observacion">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by observacion">
                                    Observación
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.observacion}} </td>
                            </ng-container>

                            <ng-container matColumnDef="fecha_creacion">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by fecha_creacion">
                                    Fecha
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.fecha_creacion}} </td>
                            </ng-container>

                            <ng-container matColumnDef="hora_creacion">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by hora_creacion">
                                    Hora
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.hora_creacion}} </td>
                            </ng-container>

                            <ng-container matColumnDef="usuario">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by usuario">
                                    Usuario
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.usuario}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <ng-container *ngIf="countRows === 0">
                            <div class="row">
                                <div class="col-sm-12 ml-4 mt-3">
                                    <label class="font-weight-bold"> {{'No existen datos'}}</label>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons
                aria-label="Seleccione página de registros">
            </mat-paginator>
        </div>
    </mat-dialog-content>
</div>