<div [ngClass]=" {
                    orange_theme: options.activeTheme == 'orange_theme',
                    blue_theme: options.activeTheme == 'blue_theme',
                    aqua_theme: options.activeTheme == 'aqua_theme',
                    purple_theme: options.activeTheme == 'purple_theme',
                    green_theme: options.activeTheme == 'green_theme',
                    cyan_theme: options.activeTheme == 'cyan_theme',
                    sanna_theme: options.activeTheme == 'sanna_theme',
                }">
  <mat-card class="theme-card m-b-0">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          Aviso
        </mat-card-title>
      </mat-card-title-group>
      <div fxFlex></div>
      <div fxLayoutAlign="center center">
        <a class="btn-close" [mat-dialog-close]="true"><mat-icon class="close-icon">close</mat-icon></a>
      </div>
    </mat-card-header>
    <mat-dialog-content>
      <span md-dialog-title>{{primaryMessage}}</span>
    </mat-dialog-content>
  </mat-card>
  <div mat-dialog-actions class="m-b-8" align="center">
    <button mat-flat-button color="primary" (click)="clickHandler(true)"
      class="btn btn-success btn-sm m-right-10 m-l-8">
      Aceptar
    </button>
    <button mat-flat-button color="warn" (click)="clickHandler(false)" class="btn btn-success btn-sm m-right-10 m-l-8">
      Cancelar
    </button>
  </div>
</div>