<!-- <div class="close-btn-modal" (click)="clickHandler(false)">
    <i class="fa fa-times"></i>
</div> -->

<!-- <h2 mat-dialog-title>Install Angular</h2> -->

<!-- <div class="container">
    <span md-dialog-title>{{primaryMessage}}</span>
    <div mat-dialog-actions class="mt-2">
        <button class="btn btn-success btn-sm m-right-10" (click)="clickHandler(true)"><i class="fas fa-check"></i>
          Confirmar</button>
        <button class="btn btn-danger btn-sm" (click)="clickHandler(false)"><i class="fas fa-times-circle"></i>
          Cancelar</button>
      </div>
</div> -->


 <h5 mat-dialog-title class="mat-subtitle-1">Delete file</h5>
 <div mat-dialog-content class="mat-subtitle-2 lh-16">
   Would you like to delete cat.jpeg?
 </div>
 <div mat-dialog-actions class="p-24 p-t-0">
   <button mat-stroked-button color="warn" mat-dialog-close>No</button>
   <button mat-flat-button color="primary" mat-dialog-close cdkFocusInitial>
     Ok
   </button>
 </div>
 