<div mat-dialog-title>
    Seleccione el soporte
</div>
<mat-dialog-content>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
        <mat-radio-button class="example-radio-button" [value]="1">Cambiar paciente</mat-radio-button>
        <br>
        <mat-radio-button class="example-radio-button" [value]="2">Actualizar datos del paciente</mat-radio-button>
        <br>
        <mat-radio-button class="example-radio-button" [value]="3">Datos para la emisión de documento
            electrónico</mat-radio-button>
        <br>
        <mat-radio-button class="example-radio-button" [value]="4">Cambio de tipo de atención</mat-radio-button>
        <br>
        <mat-radio-button class="example-radio-button" [value]="5">Cambio de deducible o tipo de pago</mat-radio-button>
        <br>
        <mat-radio-button class="example-radio-button" [value]="6">Pasar atención a PNE o VNR</mat-radio-button>
        <br>
        <mat-radio-button class="example-radio-button" [value]="7">Cambio de aseguradora</mat-radio-button>
        <br>
        <mat-radio-button class="example-radio-button" [value]="8">Cambio de médico</mat-radio-button>
        <br>
        <mat-radio-button class="example-radio-button" [value]="9">Cambio de programa</mat-radio-button>
        <br>
        <mat-radio-button class="example-radio-button" [value]="10">Cambio de clasificación</mat-radio-button>
        <br>
        <mat-radio-button class="example-radio-button" [value]="11">Cambio de periodo de atención</mat-radio-button>
        <br>
        <mat-radio-button class="example-radio-button" [value]="12">Paciente no quiere atención con
            médico</mat-radio-button>
        <br>
        <mat-radio-button class="example-radio-button" [value]="13">Cambio de perfil de atención (de SEG a
            CTRL)</mat-radio-button>
        <br>
        <mat-radio-button class="example-radio-button" [value]="14">Correción de nombre de paciente</mat-radio-button>
        <br>
        <mat-radio-button class="example-radio-button" [value]="15">Paciente clave</mat-radio-button>
        <br>
        <mat-radio-button class="example-radio-button" [value]="16">Prueba externa (SGC)</mat-radio-button>
    </mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button color="accent" style="width: 100%;">Aceptar</button>
</mat-dialog-actions>