<div class="main-body">
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title style="margin-bottom: 10px;">Datos del paciente</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Aseguradora</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Categoría</mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Apellido paterno</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Apellido materno</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Nombres</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-md-12 text-right" style="padding-bottom: 20px;">
                            <button mat-flat-button color="accent" (click)="openDatosSitedsDialog()">Datos SITEDS</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Edad</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-7">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Fecha nacimiento</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field style="width: 100%;" appearance="outline">
                                <mat-label>Tipo Doc. Identidad</mat-label>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-8">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Num. Documento</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;" appearance="outline">
                                <mat-label>Sexo</mat-label>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field style="width: 100%;" appearance="outline">
                                <mat-label>VIP</mat-label>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Telf. celular</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Paciente clave</mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Clasificación</mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Condición</mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title style="margin-bottom: 10px;">Datos de la aseguradora</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Contacto aseg.</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Producto</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Cod. autorización</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>N° solicitud</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Cod. asegurado</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width" style="width: 100%;"
                                        appearance="outline">
                                        <mat-label>Poliza</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" style="width: 100%;"
                                        appearance="outline">
                                        <mat-label></mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-8">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title style="margin-bottom: 10px;">Datos del domicilio</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Departamento</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Provincia</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Distrito</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Dirección</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Mz. / Lote / Nro. </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Dpto. / Int.</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Urbanización</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Referencia</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-md-5">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Telf. casa</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-5">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Telf. oficina</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Anexo</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Contacto pac.</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <a mat-flat-button color="accent" style="width: 100%;" (click)="openDireccionesDialog()">Gestionar Direcciones</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field style="width: 100%;" appearance="outline">
                                <mat-label>Tipo correo</mat-label>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-8">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Correo electrónico</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-checkbox class="example-margin">DIRECCIÓN VALIDADA</mat-checkbox>
                </mat-card-content>
            </mat-card>
            <div class="row">
                <div class="col-md-6">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title style="margin-bottom: 10px;">Datos de la atención</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <textarea matInput placeholder="Observación" style="resize: none"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <textarea matInput placeholder="Síntomas" style="resize: none"></textarea>
                            </mat-form-field>
                            <mat-form-field style="width: 100%;" appearance="outline">
                                <mat-label>Médico atiende</mat-label>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Especialidad</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Programación</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field style="width: 100%;" appearance="outline">
                                <mat-label>Programación</mat-label>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-6">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title style="margin-bottom: 10px;">Vía de solicitud de atención</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Descripción</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title style="margin-bottom: 10px;">Datos del pago</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field style="width: 100%;" appearance="outline">
                                        <mat-label>Moneda</mat-label>
                                        <mat-select>
                                            <mat-option>None</mat-option>
                                            <mat-option value="option1">Option 1</mat-option>
                                            <mat-option value="option2">Option 2</mat-option>
                                            <mat-option value="option3">Option 3</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width" style="width: 100%;"
                                        appearance="outline">
                                        <mat-label>Deducible</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Coaseguro (%)</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field style="width: 100%;" appearance="outline">
                                <mat-label>Forma pago</mat-label>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title style="margin-bottom: 10px;">Vía de conocimiento del servicio</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-checkbox class="example-margin">Facebook</mat-checkbox>
                                    <br>
                                    <mat-checkbox class="example-margin">Instagram</mat-checkbox>
                                    <br>
                                    <mat-checkbox class="example-margin">Youtube</mat-checkbox>
                                </div>
                                <div class="col-md-6">
                                    <mat-checkbox class="example-margin">Paginas web o portales de
                                        noticias</mat-checkbox>
                                    <br>
                                    <mat-checkbox class="example-margin">Otros</mat-checkbox>
                                    <br>
                                    <mat-checkbox class="example-margin">No aplica</mat-checkbox>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <button mat-flat-button color="accent">Guardar</button>
            &nbsp;
            <a href="/bandejamad" mat-flat-button color="accent">Ver atenciones</a>
        </div>
    </div>
</div>