<div 
    [ngClass]=" {
                    orange_theme: options.activeTheme == 'orange_theme',
                    blue_theme: options.activeTheme == 'blue_theme',
                    aqua_theme: options.activeTheme == 'aqua_theme',
                    purple_theme: options.activeTheme == 'purple_theme',
                    green_theme: options.activeTheme == 'green_theme',
                    cyan_theme: options.activeTheme == 'cyan_theme',
                    sanna_theme: options.activeTheme == 'sanna_theme',
                }"
>
    <mat-card class="theme-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>
                    Alertas
                </mat-card-title>
            </mat-card-title-group>
            <div fxFlex></div>
            <div fxLayoutAlign="center center">
                <a class="btn-close" [mat-dialog-close]="true"><mat-icon class="close-icon">close</mat-icon></a>
            </div>
        </mat-card-header>
        <mat-dialog-content [formGroup]="form">
            <div class="row">
                <div class="col-2">
                    <mat-label class="m-b-8 d-block">Código de Atención</mat-label>
                    <mat-form-field appearance="outline" class="w-100 dense-2" color="primary">
                        <input matInput type="text" placeholder="Ingresar código de Atención"/>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-label class="m-b-8 d-block">Desde</mat-label>
                    <mat-form-field appearance="outline" class="w-100 dense-2">
                        <input matInput placeholder="Seleccionar fecha" [matDatepicker]="dtpDesde" formControlName="dtpDesde" />
                        <mat-datepicker-toggle matIconSuffix [for]="dtpDesde"></mat-datepicker-toggle>
                        <mat-datepicker #dtpDesde></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-label class="m-b-8 d-block">Hasta</mat-label>
                    <mat-form-field appearance="outline" class="w-100 dense-2">
                        <input matInput placeholder="Seleccionar fecha" [matDatepicker]="dtpHasta" formControlName="dtpHasta"/>
                        <mat-datepicker-toggle matIconSuffix [for]="dtpHasta"></mat-datepicker-toggle>
                        <mat-datepicker #dtpHasta></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-label class="m-b-8 d-block">Estado</mat-label>
                    <mat-form-field appearance="outline" class="w-100 dense-3">
                        <mat-select value="0" >
                            <mat-option value="0">Pendiente</mat-option>
                            <mat-option value="1">Respondido</mat-option>
                            <mat-option value="2">Todos</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2 mx-auto m-t-30">
                    <button 
                        mat-flat-button  
                        color="primary"
                        class="btn btn-success w-100 h-65">
                        Buscar
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table">
                        <div class="table-container table scrollwrapper">
                            <table mat-table matSort class="dense-3 zoom-80">
                                <!-- ATENCION  -->
                                <ng-container matColumnDef="atencion">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        atencion
                                    </th>
                                    <!-- <td mat-cell *matCellDef="let audit"> {{audit?.fecha}} </td> -->
                                </ng-container>
                                <!-- TIPO ALERTA -->
                                <ng-container matColumnDef="tipo_alerta">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        tipo_alerta
                                    </th>
                                    <!-- <td mat-cell *matCellDef="let audit"> {{audit?.fecha}} </td> -->
                                </ng-container>
                                <!-- USUARIO ALERTA -->
                                <ng-container matColumnDef="usuario_alerta">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        usuario_alerta
                                    </th>
                                    <!-- <td mat-cell *matCellDef="let audit"> {{audit?.fecha}} </td> -->
                                </ng-container>
                                <!-- ALERTA -->
                                <ng-container matColumnDef="alerta">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        alerta
                                    </th>
                                    <!-- <td mat-cell *matCellDef="let audit"> {{audit?.fecha}} </td> -->
                                </ng-container>
                                <!-- FECHA ALERTA  -->
                                <ng-container matColumnDef="fecha_alerta">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        fecha_alerta
                                    </th>
                                    <!-- <td mat-cell *matCellDef="let audit"> {{audit?.fecha}} </td> -->
                                </ng-container>
                                <!-- HORA ALERTA -->
                                <ng-container matColumnDef="hora_alerta">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        hora_alerta
                                    </th>
                                    <!-- <td mat-cell *matCellDef="let audit"> {{audit?.fecha}} </td> -->
                                </ng-container>
                                <!-- ESTADO -->
                                <ng-container matColumnDef="estado">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        estado
                                    </th>
                                    <!-- <td mat-cell *matCellDef="let audit"> {{audit?.fecha}} </td> -->
                                </ng-container>
                                <!-- FECHA RESPUESTA -->
                                <ng-container matColumnDef="fecha_respuesta">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        fecha_respuesta
                                    </th>
                                    <!-- <td mat-cell *matCellDef="let audit"> {{audit?.fecha}} </td> -->
                                </ng-container>
                                <!-- HORA RESPUESTA -->
                                <ng-container matColumnDef="hora_respuesta">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        hora_respuesta
                                    </th>
                                    <!-- <td mat-cell *matCellDef="let audit"> {{audit?.fecha}} </td> -->
                                </ng-container>
                                <!-- USUARIO RESPUESTA -->
                                <ng-container matColumnDef="usuario_respuesta">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        usuario_respuesta
                                    </th>
                                    <!-- <td mat-cell *matCellDef="let audit"> {{audit?.fecha}} </td> -->
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                            </table>
                            <!-- <ng-container *ngIf="dataSource.count === 0">
                                <div class="row">
                                    <div class="col-sm-12 ml-4 mt-3">
                                        <label class="font-weight-bold">{{"NO_DATA_FOUND"}}</label>
                                    </div>
                                </div>
                            </ng-container> -->
                            <!-- <mat-paginator 
                                [length]="ambAlertaResource.totalCount" 
                                [pageSize]="ambAlertaResource.pageSize"
                                [pageSizeOptions]="[10, 20, 30]">
                            </mat-paginator> -->
                        </div>
                    </div>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end" class="padding-actions">
            <div class="row" >
                <div class="col-12" >
                    <button 
                        mat-flat-button  
                        color="warn"
                        (click)="close()"
                        class="btn btn-success btn-sm m-right-10 m-l-8" >
                        Cancelar
                    </button>
                </div>
            </div>
        </mat-dialog-actions>
    </mat-card>
</div>