<div mat-dialog-title>
    Asignación de tiempo y doctor
</div>
<mat-dialog-content>
    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
        <mat-label>Paciente</mat-label>
        <input matInput>
    </mat-form-field>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                <mat-label>Edad</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                <mat-label>Paciente VIP</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                <mat-label>Tipo</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                <mat-label>Teléfono</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                <mat-label>Forma pago</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                <mat-label>Doc. pago</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                <mat-label>Departamento</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                <mat-label>Provincia</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                <mat-label>Distrito</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </div>
    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
        <mat-label>Dirección</mat-label>
        <input matInput>
    </mat-form-field>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                <mat-label>Mz. / Nro. / Lote</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                <mat-label>Dpto. / Int.</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </div>
    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
        <mat-label>Referencia</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
        <mat-label>Observación</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
        <mat-label>Información</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
        <mat-label>Info. Histórico</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Datos médicos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Médico</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Especialidad</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Programación</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-md-7">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Fecha Atención</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-5">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Hora Atención</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Tipo de Programación</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Programación</mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Tipo Programación</mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Proveedor</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Especialidad</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                        <mat-label>Médico</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-md-7">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Fecha Atención</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-5">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Hora Atención</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="col-md-6">
        <button mat-flat-button color="accent">Cambiar de estado</button>
    </div>
    <div class="col-md-6 text-right">
        <button mat-flat-button color="accent">Guardar</button>
    </div>
</mat-dialog-actions>