<div class="container">
    <div mat-dialog-title>
        <h1>Blog Form</h1>
    </div>
    <form [formGroup]="blogForm" (ngSubmit)="onFormSubmit()">
        <div mat-dialog-content class="content">
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>URL</mat-label>
                    <input matInput type="text" placeholder="Link URL" formControlName="url">
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions class="action">
            <button mat-raised-button type="button" (click)="onNoClick()">Cancel</button>
            <button mat-raised-button color="primary" type="submit">{{data ? 'Actualizar': 'Guardar'}}</button>
        </div>
    </form>
</div>