<div mat-dialog-title>
    Maestro de Ubigeo
</div>
<mat-dialog-content>
    <mat-card class="example-card">
        <mat-card-content>
            <form class="row" [formGroup]="formularioUbigeo" style="margin-bottom: 10px;">
                <div class="col-md-4">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Distrito</mat-label>
                        <input matInput (keyup)="filtrarDistrito($event)"
                            placeholder="Distrito" formControlName="txtDistrito">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Provincia</mat-label>
                        <input matInput (keyup)="filtrarProvincia($event)" placeholder="Provincia" formControlName="txtProvincia">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Departamento</mat-label>
                        <input matInput (keyup)="filtrarDepartamento($event)" placeholder="Departamento" formControlName="txtDepartamento">
                    </mat-form-field>
                </div>
            </form>
            <div class="row">
                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

                    <ng-container matColumnDef="distrito">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by distrito">
                            Distrito
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row.distrito}} </td>
                    </ng-container>

                    <ng-container matColumnDef="provincia">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by provincia">
                            Provincia
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row.provincia}} </td>
                    </ng-container>

                    <ng-container matColumnDef="departamento">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            sortActionDescription="Sort by departamento">
                            Departamento
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row.departamento}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row (click)="filaSeleccionada(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>