<form [formGroup]="formularioRegitraMotivoSctr">
    <div mat-dialog-title>
        Registro de motivo
    </div>
    <mat-dialog-content>
        <mat-radio-group aria-label="Select an option">
            <div class="row">
                <div class="col-md-6">
                    <mat-radio-button value="clinica" (change)="getPersonaReporta($event)">CLINICA / CENTRO
                        CLÍNICO</mat-radio-button>
                    <div class="row">
                        <div class="col-md-10">
                            <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                appearance="outline">
                                <mat-label>Nombre clínica / centro clínico</mat-label>
                                <input matInput formControlName="txtNombreClinica">
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <button mat-flat-button color="accent" style="width: 100%;"
                                [disabled]="statusBtnBuscarClinica" (click)="openClinicaDialog()">...</button>
                        </div>
                    </div>
                    <mat-form-field class="example-full-width dense-2" style="width: 100%;" appearance="outline">
                        <mat-label>Dirección</mat-label>
                        <input matInput formControlName="txtDireccionClinica">
                    </mat-form-field>
                    <mat-form-field class="example-full-width dense-2" style="width: 100%;" appearance="outline">
                        <mat-label>Paciente que reporta</mat-label>
                        <input matInput formControlName="txtPacienteReportaClinica" (keyup)="limpiarLetras($event)"
                            (change)="limpiarLetras($event)" (keypress)="soloLetras($event)">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-radio-button value="empresa" (change)="getPersonaReporta($event)">EMPRESA</mat-radio-button>
                    <mat-form-field class="example-full-width dense-2" style="width: 100%;" appearance="outline">
                        <mat-label>RUC</mat-label>
                        <input matInput formControlName="txtRucEmpresa" [matAutocomplete]="auto"
                            (keyup)="filterClientes($event); limpiarNumero($event)" (change)="limpiarNumero($event)"
                            (keypress)="soloNumeros($event)">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="verRuc"
                            (optionSelected)="selectCliente($event.option)">
                            @for (option of filtradoClientes; track option) {
                            <mat-option [value]="option">{{option.nombre}}</mat-option>
                            }
                        </mat-autocomplete>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-md-9">
                            <mat-form-field class="example-full-width dense-2" style="width: 100%;"
                                appearance="outline">
                                <mat-label>Nombre empresa</mat-label>
                                <input matInput formControlName="txtEmpresa">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <button mat-flat-button color="accent" style="width: 100%;"
                                [disabled]="statusBtnRegistrarEmpresa">Registrar</button>
                        </div>
                    </div>
                    <mat-form-field class="example-full-width dense-2" style="width: 100%;" appearance="outline">
                        <mat-label>Paciente que reporta</mat-label>
                        <input matInput formControlName="txtPacienteReportaempresa" (keyup)="limpiarLetras($event)"
                            (change)="limpiarLetras($event)" (keypress)="soloLetras($event)">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-radio-button value="seguro" (change)="getPersonaReporta($event)">CORREDOR DE
                        SEGURO</mat-radio-button>
                    <mat-form-field class="example-full-width dense-2" style="width: 100%;" appearance="outline">
                        <mat-label>Paciente que reporta</mat-label>
                        <input matInput formControlName="txtPacienteReportaSeguro" (keyup)="limpiarLetras($event)"
                            (change)="limpiarLetras($event)" (keypress)="soloLetras($event)">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-radio-button value="paciente" (change)="getPersonaReporta($event)">PACIENTE /
                        ASEGURADO</mat-radio-button>
                    <mat-form-field class="example-full-width dense-2" style="width: 100%;" appearance="outline">
                        <mat-label>Paciente que reporta</mat-label>
                        <input matInput formControlName="txtPacienteReportaAsegurado" (keyup)="limpiarLetras($event)"
                            (change)="limpiarLetras($event)" (keypress)="soloLetras($event)">
                    </mat-form-field>
                </div>
            </div>
        </mat-radio-group>
        <mat-form-field class="example-full-width dense-2" style="width: 100%;" appearance="outline">
            <mat-label>Motivo de llamada</mat-label>
            <textarea matInput placeholder="Motivo de llamada" formControlName="txtMotivo"
                style="resize: none"></textarea>
        </mat-form-field>
        <div class="row">
            <div class="col-md-6 text-center">
                <button mat-flat-button color="accent" (click)="saveMotivoSctr()"
                    [disabled]="!formularioRegitraMotivoSctr.valid">Guardar</button>
            </div>
            <div class="col-md-6 text-center">
                <button mat-flat-button color="warn" (click)="exitMotivo()">Salir</button>
            </div>
        </div>
    </mat-dialog-content>
</form>