<div 
    [ngClass]=" {
                    orange_theme: options.activeTheme == 'orange_theme',
                    blue_theme: options.activeTheme == 'blue_theme',
                    aqua_theme: options.activeTheme == 'aqua_theme',
                    purple_theme: options.activeTheme == 'purple_theme',
                    green_theme: options.activeTheme == 'green_theme',
                    cyan_theme: options.activeTheme == 'cyan_theme',
                    sanna_theme: options.activeTheme == 'sanna_theme',
                }"
>
    <mat-card class="theme-card m-b-0">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>
                    Atenciones Pasadas
                </mat-card-title>
            </mat-card-title-group>
            <div fxFlex></div>
            <div fxLayoutAlign="center center">
                <a class="btn-close" [mat-dialog-close]="true"><mat-icon class="close-icon">close</mat-icon></a>
            </div>
        </mat-card-header>
        <mat-dialog-content [formGroup]="form">
            <div class="cardWithShadow">
                <mat-label class="m-b-8 d-block">Ap. Paterno/N Documento</mat-label>
            </div>
            <div class="row">
                <div class="col-4">
                    <mat-label class="m-b-8 d-block">Ap. Paterno/N Documento</mat-label>
                    <mat-form-field appearance="outline" class="w-100 dense-2" color="primary">
                        <input matInput type="text" placeholder="Ingresar Ap.Paterno/N Documento"/>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-label class="m-b-8 d-block">Ap. Materno</mat-label>
                    <mat-form-field appearance="outline" class="w-100 dense-2" color="primary">
                        <input matInput type="text" class="dense-2" placeholder="Ingresar Ap. Materno"/>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-label class="m-b-8 d-block">Nombres</mat-label>
                    <mat-form-field appearance="outline" class="w-100 dense-2" color="primary">
                        <input matInput type="text" class="dense-2" placeholder="Ingresar nombres"/>
                    </mat-form-field>
                </div>
                <div class="col-2 mx-auto m-t-30">
                    <button 
                        mat-flat-button  
                        color="primary"
                        class="btn btn-success w-100 h-65">
                        Buscar
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table cardWithShadow">
                        <div class="table-container table scrollwrapper">
                            <table mat-table matSort class="dense-3 zoom-80">
                                <!-- NUMERO DE ATENCION -->
                                <ng-container matColumnDef="nro_atencion">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        nro_atencion
                                    </th>
                                    <!-- <td mat-cell *matCellDef="let audit"> {{audit?.fecha}} </td> -->
                                </ng-container>
                                <!-- PACIENTE -->
                                <ng-container matColumnDef="paciente">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        paciente
                                    </th>
                                    <!-- <td mat-cell *matCellDef="let audit"> {{audit?.fecha}} </td> -->
                                </ng-container>
                                <!-- FECHA ATENCION -->
                                <ng-container matColumnDef="fecha_atencion">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        fecha_atencion
                                    </th>
                                    <!-- <td mat-cell *matCellDef="let audit"> {{audit?.fecha}} </td> -->
                                </ng-container>
                                <!-- UNIDAD DE NEGOCIO -->
                                <ng-container matColumnDef="unidad_negocio">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        unidad_negocio
                                    </th>
                                    <!-- <td mat-cell *matCellDef="let audit"> {{audit?.fecha}} </td> -->
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                            </table>
                        </div>
                        <!-- <ng-container *ngIf="dataSource.count === 0">
                            <div class="row">
                                <div class="col-sm-12 ml-4 mt-3">
                                    <label class="font-weight-bold"> {{'NO_DATA_FOUND'}}</label>
                                </div>
                            </div>
                        </ng-container> -->
                    </div>
                    <!-- <mat-paginator 
                        [length]="ambulanciaResource.totalCount" 
                        [pageSize]="ambulanciaResource.pageSize"
                        [pageSizeOptions]="[10, 20, 30]">
                    </mat-paginator> -->
                </div>
            </div>
            <div mat-dialog-actions class="m-t-20 p-0 d-block">
                <div class="row">
                    <div class="col-6" align="start">
                        <button 
                            mat-flat-button  
                            color="primary"
                            class="btn btn-success btn-sm m-right-10" >
                            Ficha Electrónica
                        </button>
                        <button 
                            mat-flat-button  
                            color="primary"
                            class="btn btn-success btn-sm m-right-10" >
                            Ficha Fisica
                        </button>
                    </div>
                    <div class="col-6" align="end">
                        <button 
                            mat-flat-button  
                            color="warn"
                            class="btn btn-success btn-sm m-right-10" >
                            Cancelar
                        </button>
                    </div>
                </div>
                <!-- <button 
                    mat-flat-button  
                    color="warn"
                    class="btn btn-success btn-sm m-right-10" >
                    Cancelar
                </button>
                <button 
                    mat-flat-button  
                    color="warn"
                    class="btn btn-success btn-sm m-right-10" >
                    Cancelar
                </button> -->
            </div>
        </mat-dialog-content>
        
        <!-- <mat-dialog-actions class="padding-actions">
            <div class="row" >
                <div class="col-12">
                    <button 
                        mat-flat-button  
                        color="warn"
                        class="btn btn-success btn-sm m-right-10 m-l-8" >
                        Cancelar
                    </button>
                </div>
            </div>
        </mat-dialog-actions> -->
    </mat-card>
</div>